$colorPrincipal: #5265E1;
$colorSecundario: #FA5959;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-orange {
    background-color: $colorSecundario;
    border-color: $colorSecundario;
}

.btn-orange:hover {
    background-color: $colorSecundario;
    border-color: $colorSecundario;
}

body {
    overflow-x: hidden;
}


/* Ajustes para el botón de LOGIN */
.navbar-nav .btn-orange {
    background-color: $colorSecundario;
    color: #ffffff;
    padding: 10px 20px;
    /* Espacio interno del botón */
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
}

.navbar-nav .btn-orange:hover {
    background-color: $colorSecundario;
}

.nav-item .nav-link.active {
    border-bottom: 3px solid $colorSecundario !important;
}

.separar {
    gap: 8rem !important;
}

.btn-primary {
    background-color: $colorPrincipal !important;
}

.div-pegado {
    z-index: -1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-40%);
    width: 40vw !important;
    height: 35vh;
    background-color: $colorPrincipal;
    border-radius:  200px 0  0 200px;
  }

  .div-pegado1 {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(270%);
    width: 40vw !important;
    height: 35vh;
    background-color: $colorPrincipal;
    border-radius:  0 200px 200px  0;
  }

  .padding {
    padding: 100px;
  }



  h1 {
    font-size: clamp(2rem, 8vw, 3rem); /* Aumento de la flexibilidad en pantallas pequeñas */
}

h2 {
    font-size: clamp(1.5rem, 7vw, 2.5rem);
}

h3 {
    font-size: clamp(1.25rem, 6vw, 2rem);
}

h4 {
    font-size: clamp(1rem, 5vw, 1.75rem);
}

h5 {
    font-size: clamp(0.875rem, 4vw, 1.5rem);
}

h6 {
    font-size: clamp(0.75rem, 3vw, 1.25rem);
}

p, li, span {
    font-size: clamp(0.875rem, 3vw, 1rem); /* Aumento para mayor diferencia */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    background-color: #f8f9fa;
    width: auto;

    img:first-of-type {
        min-width: 80px;
        min-height: 80px;
    }

    img:nth-of-type(2) {
        margin: 10px;
    }

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

#card1 {
    top: -10%;
}


#card3 {
    top: 10%;
}

.card:hover {
    cursor: pointer;
}

.card-text {
    color: grey;
}



.faqs {
    text-align: center;
}


// MEDIAS QUERYS 
@media screen and (min-width: 768px) and (max-width: 990px) {
    .hero {
        width: 30vw;
    }
}

@media screen and (max-width: 767px) {
    .separar {
        gap: 3rem !important;
    }
}


@media screen and (max-width: 428px) {
    .separar {
        gap: 3rem !important;
    }

    .hero {
        width: 80vw;
    }

    .info {
        margin: 3rem 0 3rem 0 !important;
    }
}
