@media only screen and (min-width: 380px) and (max-width: 766px) {
    #div2 {
        flex-direction: column; 
        width: 100%;
        background-color: violet;
        div {
            width: 100%;
        }
    }

    #div2-1 {
        height: 60%;
    }

    #div2-2 {
        height: 40%;
        gap: 20px;
        div {
            height: 50%;
        }
    }

    section {
        padding: 50px;
    }
}