* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
}

header {
    background-image: url('/sprint-1/nivel-2/img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 30vh;

    div img {
        width: 50px;

    }
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 80px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: grey;
            }

            a:hover {
                font-weight: 400;
                color: rgb(255, 113, 5);
            }
        }
    }
}

#logo:hover {
    cursor: pointer;
    border-bottom: 1px solid darkorange;

}

.contenedor {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 20px;

}

.redes {
    display: flex;
    flex-direction: row;
    gap: 20px;

    img {
        width: 10px;
        height: 10px;
        filter: grayscale(100%);
    }

}

.redes img:hover {
    cursor: pointer;

}

.subtitulo {
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 70%;
    text-align: center;
    height: 20vh;
    align-items: center;
    opacity: 0.5;
    color: rgb(255, 113, 5);
    text-shadow: 1px 2px 2px black;
}

.contenidoH2 {
    h2 {
        font-weight: bolder;
        font-size: 28px;
    }
}

.divVacio {
    width: 500px;
    height: 28vh;
}

/* MAIN DIV */

main {
    flex: 1;
    background-color: beige;
    height: 50vh;
    div {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(163, 163, 163);
    div {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(233, 221, 217);
        width: 100%;
        padding: 20px;
        margin: 0 20px;
    }
}

/* CONTENEDOR MAIN */

.contenedorMain {
    background-color: white;
    gap: 20px;
    align-items: stretch;

}

.contenedorCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(163, 163, 163);
    width: 80%;
    gap: 20px;
    padding: 20px;
}

.spanLateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:  rgb(163, 163, 163);;
    width: 20%;
    padding: 20px;
    text-align: center; 
    h2 {
        text-align: center;
        padding: 30px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 46%;
    padding: 10px;
    gap: 10px;
    background-color: rgb(233, 221, 217);
    align-items: flex-start;

    position: relative;


    img {
        width: 100%;
        height: auto;
    }

    h2 {
        padding: 10px 10px 4px 10px;
        width: 100%;
        background-color: rgb(233, 88, 129) ;
        color: white;
    }
}

.fecha {
    color: gold;
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
}

.lorem {
    column-count: 2;
    column-gap: 15px;
}

.textoAbajo {
    background-color:  rgb(163, 163, 163);
    padding: 0 20px;
}

.leerMas:hover {
    color: gold;
    cursor: pointer;
}